.container {
  position: relative;
  background-color: #292929;
  padding-top: 142px;
  padding-left: 72px;
  padding-right: 43px;
  padding-bottom: 115px;
  height: calc(100vh - 233px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Slider Section */

.slider-section {
  flex: 2;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 46px;
  padding-right: 46px;
  background-color: #525252;
  border-radius: 15px;
}

/* Table Section */

.table-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #525252;
  border-radius: 15px;
}

.table-container {
  justify-content: center;
  align-items: center;
  margin: 0px 54px;
  width: 100%;
}
/* Bet Section */

.bet-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 46px;
  padding-right: 46px;
  background-color: #525252;
  border-radius: 15px;
}

.bet-scontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Responsive */

@media (max-width: 1192px) {
  .container {
    height: 100%;
    flex-direction: column;
    justify-content: normal;
    padding-top: 85px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 85px;
  }

  /* Slider Section */

  .slider-section {
    margin-bottom: 20px;
    height: 360px;
    flex: none;
    justify-content: center;
    padding: 0 20px;
  }

  /* Table Container */

  .table-section {
    margin-bottom: 20px;
    height: 480px;
    flex: none;
  }

  .table-container {
    margin: 0 20px;
  }

  /* Bet Section */

  .bet-section {
    height: 360px;
    flex: none;
  }
}
